/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* COMMON */
body{
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
#id{
    width: 100%;
    height: 100vh;
}
/* img */
img{
    max-width: 100%;
}
/* Container */
.container{
    width: 70%;
    margin: 0 auto;
}
/* HEADER */
header{
    width: 100%;
    height: 80px;
    background-color: #2e3a46;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
/* Header logo */
.header-logo{
    width: 60px;
}
/* MAIN */
main{
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #1e2d3b;
    overflow-y: auto;
}
/* Disc content */
.disc-content{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 30px 0;
}
/* Single disc */
.single-disc{
    width: calc((100% / 5) - 40px);
    margin: 10px 20px;
    padding: 15px;
    background-color: #2e3a46;
}
/* Single disc title */
.single-disc-title{
    padding: 10px;
}
.single-disc-title h2{
    color: white;
    font-size: 18px;
}
/* Single disc author */
.single-disc-author{
    padding-top: 10px;
}
.single-disc-author,
.single-disc-year{
    color: gray;
    font-size: 14px;
}